@model IEnumerable<Postagens.NET.Models.Tag>

@{
    ViewData["Title"] = "Tags";
}
<h2>@ViewData["Title"]</h2>

<div ng-controller="tagCtrll" style="width: 80%; margin: 0 auto;">

    <div style="width: 80%; display: flex; justify-content: flex-end; margin-bottom: 15px;">
        <button class="btn btn-success" ng-click="abrirModalCadastro()">Cadastrar</button>
    </div>

    <table class="table table-sm" style="width: 80%; table-layout: auto;">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td style="text-align:right">
                        <button class="btn btn-warning btn-sm" ng-click="abrirModalEdicao(@item.Id)">Editar</button>
                        <button class="btn btn-danger btn-sm" ng-click="abrirModalExclusao(@item.Id)">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal de Confirmação -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmação de Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form asp-action="Excluir" method="post">
                    <div class="modal-body">
                        <input type="hidden" name="id" ng-value="tag.id" />
                        Você tem certeza que deseja excluir?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <partial name="Cadastro" />
</div>


